@model CMDB01.Models.account

@{
    ViewBag.Title = "DeleteAccountContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteAccountContact</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="DeleteAccountContact" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}