@model CMDB01.Models.serverFarms

@{
    ViewBag.Title = "DeleteServerFarmContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteServerFarmContact</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="DeleteServerFarmContact" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}